.form-container{
    margin-top: 40px;
    margin-left: 40px;
    border:0px;
}

.form-group {
    margin: auto;
    width: 100%;    margin: auto;
    text-align: left;
}

.form-control{
    border: 0px;
    border-radius: 0px;
    font-family: 'Rokkitt', serif;
    font-size:20px;
  
}

li{
    border-bottom-style: solid;
    border-color:rgba(128, 128, 128, 0.075);
    border-bottom-width: thin;
    margin:auto;
    width: 100%;   
    margin-left:-26px; 
    margin-top:5px;
    text-align: left;
    list-style-type:none;
    font-family: 'Rokkitt', serif;
    font-size:20px;
    display: flex;
    justify-content: space-between;    
}

li:hover + .icondelete{
    
    visibility: visible;
}
li + .icondelete{
    
    visibility: hidden;
}

.task-counter{

    margin:auto;
    margin-left:15px;
    margin-right: 5px;
    font-family: 'Rokkitt', serif;
    font-size:20px;
    text-align: left;

}

.textremove{
    margin:auto;
    margin-left:15px;
    margin-right: 5px;
    font-family: 'Rokkitt', serif;
    font-size:20px;
    text-align: left;
    display: flex;
    justify-content: space-between;    
}