.table{
    margin: auto;
    width: 100%;
    background-color: green;
    margin: auto;
    text-align: left;
}
.form-container{
    margin-top: 40px;
}

.task-counter{
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: start;
}